#Paginator {
    background-color: transparent;
    border: none;
    color: white;
}

#PaginatorPageButton {
    background-color: #2B2D30;
    border: 1px solid #4D4D4D;
    border-radius: 5px;
}

#PaginatorPageButton[primary="true"] {
    background-color: #0E76F8;
    border-color: #0E76F8;
}

#PaginatorPageButton:hover[primary="false"] {
    background-color: #4D4D4D;
}