QMenuBar {
    background-color: #2b2d30;
    color: #DFE1E5;
}

QMenuBar::item {
    padding: 3px 10px;
}

QMenuBar::item:selected {
    background-color: transparent;
}

QMenuBar::item:pressed {
    background-color: #284471;
}